# 01. Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
df_ords_prior = pd.read_csv(r'C:\Users\celin\OneDrive\Desktop\Career Foundry\Instacart Basket Analysis 5.23\02 Data\Original data\order_products__prior.csv', index_col = False)

In [4]:
df_ords_prior.info

<bound method DataFrame.info of           order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]>

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords = pd.read_csv(r'C:\Users\celin\OneDrive\Desktop\Career Foundry\Instacart Basket Analysis 5.23\02 Data\Prepared data\Orders_cleaned', index_col = False)

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [8]:
df_ords.drop(columns = ['Unnamed: 0'], axis=1, inplace=True)

In [9]:
df_ords.shape

(3421083, 6)

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
df_merged_large ['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merged_large.shape

(32434489, 10)

In [15]:
path = r'C:\Users\celin\OneDrive\Desktop\Career Foundry\Instacart Basket Analysis 5.23'

# 4.6 Task

In [ ]:
# Step 2:
Export the merged file in pickle format as “orders_products_combined.pkl”

In [16]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))