# 01. Follow-along

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\celin\OneDrive\Desktop\Career Foundry\Instacart Basket Analysis 5.23'

In [3]:
df_combined = (pd.read_pickle(r'C:\Users\celin\OneDrive\Desktop\Career Foundry\Instacart Basket Analysis 5.23\02 Data\Prepared data\orders_products_merged.pkl'))

In [4]:
# Create a subset
df = df_combined[:1000000]

In [5]:
df.shape

(1000000, 14)

In [6]:
# Define a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return np.nan

In [7]:
# Apply the function

df_combined['price_range'] = df_combined.apply(price_label, axis=1)

In [8]:
df_combined['price_range'].value_counts(dropna = False)

Mid-range product    21860860
Low-range product    10126321
High range             417678
Name: price_range, dtype: int64

In [9]:
df_combined['prices'].max()

99999.0

In [10]:
df_combined.loc[df_combined['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_combined.loc[(df_combined['prices'] <= 15) & (df_combined['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_combined.loc[df_combined['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df_combined['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [14]:
df_combined['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [15]:
result = []
for value in df_combined["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [16]:
df_combined['busiest_day'] = result

In [17]:
df_combined['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# 02. 4.7 Task

In [18]:
# Step 2: create columns for 2 Busiest and 2 slowest days

result_1 = []
for value in df_combined['orders_day_of_week']:
    if value == 0 or value == 1:
        result_1.append('Busiest days')
    elif value == 4 or value == 3:
        result_1.append('Least busy days')
    else:
        result_1.append('Regularly busy')

In [19]:
df_combined['Busiest_days'] = result_1

In [20]:
# Step 3: Check results of column added - Value counts below confirmed by adding days 0 and 1 for busiest days, 
# 3,4 for least busy. Total numbers add up. 

df_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc,busiest_day,Busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Regularly busy,Least busy days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Regularly busy,Least busy days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Least busy,Least busy days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Least busy,Least busy days

In [21]:
df_combined['Busiest_days'].value_counts(dropna = False)

Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: Busiest_days, dtype: int64

In [ ]:
# Step 4: Add column for busiest hours:

In [22]:
# Check frequencies for order_hour_of_day:

df_combined['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [23]:
# Create if-statement for busiest and least busy hours of the day - task was to create 3 groups with most, average, fewest orders: 

result_2 = []
for value in df_combined['order_hour_of_day']:
    if value in [10, 11, 14, 15, 13, 12, 16, 9]:
        result_2.append('Most orders')
    elif value in [3, 4, 2, 5, 1, 0, 6, 23]:
        result_2.append('Fewest orders')
    else:
        result_2.append('Average orders')

In [24]:
df_combined['busiest_period_of_day'] = result_2

In [25]:
# Check results:
df_combined[['order_hour_of_day', 'busiest_period_of_day']].head(20)

    order_hour_of_day busiest_period_of_day
0                   8        Average orders
1                   7        Average orders
2                  12           Most orders
3                   7        Average orders
4                  15           Most orders
5                   7        Average orders
6                   9           Most orders
7                  14           Most orders
8                  16           Most orders
9                   8        Average orders
10                  9           Most orders
11                 16           Most orders
12                 11           Most orders
13                  9           Most orders
14                 10           Most orders
15                 14           Most orders
16                 12           Most orders
17                 17        Average orders
18                 10           Most orders
19                  8        Average orders

In [26]:
# Step 5 - print frequency:
df_combined['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [27]:
df_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_combined_added_frequency_columns.pkl'))